DataPreperation.json
{
  "name": "DataPreperation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -752,
        48
      ],
      "id": "c940a501-f926-4257-bd6d-9cea64106456",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "name = 'samsungMobilesData.csv'",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -528,
        48
      ],
      "id": "b955f805-86a5-4d77-9f3e-08b6880888bb",
      "name": "Search files and folders",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VOM52c8jZKeKM4Jk",
          "name": "GoogleAuth"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -320,
        48
      ],
      "id": "99baf321-5571-4e4d-a1fe-a59397fe0e00",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VOM52c8jZKeKM4Jk",
          "name": "GoogleAuth"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "splendid-popular",
          "mode": "list",
          "cachedResultName": "splendid-popular"
        },
        "embeddingBatchSize": 100,
        "options": {
          "pineconeNamespace": "Samsung E-commerce"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -32,
        48
      ],
      "id": "da666920-ff57-4beb-a086-867be8193f77",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "5Bfreq7cfj1cvDei",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -112,
        272
      ],
      "id": "31a1f567-fdea-4d6e-b232-104cdf53cd94",
      "name": "Embeddings OpenAI",
      "alwaysOutputData": false,
      "credentials": {
        "openAiApi": {
          "id": "L6ndipcU2VZhBF7L",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        96,
        256
      ],
      "id": "16afac83-c94f-41d1-a58f-aee2d31d11cd",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 80,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        192,
        464
      ],
      "id": "b10527e7-5dc3-40af-b559-a2a647e47039",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f59edede-4e47-404d-8457-60e17f8583ae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "77805b92f2ebb46d7560addcd4ca8c657658d6e225e782d26fad7e8861462094"
  },
  "id": "g9cQTfgCNBIjPVaI4RZqk",
  "tags": []
}